@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.loginPage {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.loginWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 50vmin;
    padding-bottom: 60px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px black;
    font-size: 4vmin;
  }

.loginWindow img {
    max-width: 40vmin;
    max-height: 10min;
    width: auto;
    height: auto;
    padding-top: 50px;
}

.loginText {
    padding-bottom: 30px;
}

/* Style for the input fields */
.loginWindow input[type="text"] {
    width: 100%; /* Full width minus padding */
    height: 6vmin;
    padding: 10px;
    margin-bottom: 20px; /* Space between input fields */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-size: 2vmin;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Hover and focus states for the input fields */
  .loginWindow input[type="text"]:hover,
  .loginWindow input[type="text"]:focus {
    border-color: #888;
    outline: none; /* Remove default outline */
  }

.loginBtn {
    width: 100%;
    height: 5vmin;
    border-radius: 4px;
    font-size: 2vmin;
    font-family: 'Poppins', sans-serif;
    background-color: #0071AB;
    color: white;
    font-weight: bold;
}

.loginBtn:hover {
    background-color: #E3B629;
}